{% extends 'base.html'%}

{% block title %}Course Detail{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">School - Courses</h1>

<p class="text-lg mb-2">Name: {{ course.name }}</p>
<p class="text-lg mb-2">Description: {{ course.description }}</p>

<a class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 mb-4 rounded" href="{% url 'school:courses_list' %}">Back</a>
<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-4 rounded" href="{% url 'school:course_update' course.pk %}">Update</a>
<a class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 mb-4 rounded" href="{% url 'school:course_delete' course.pk %}">Delete</a>
{% endblock %}